.hero{
    padding-top: 100px;
    margin: 0 auto; 
}
.conteiner-hero{
    display: flex;
    justify-content: space-between;

}
.hero-content{
    margin-top: 92px;
    margin-right: 74px;
}
.hero-content__title{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 77px;
color: #19191B;
}
.hero-content__subtitle{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #696871;
margin-top: 30px;
}
.hero-content__flex-blok{
    margin-top: 50px;
    display: flex;
}
.hero-content__button{
    margin-right: 40px;
    width: 211px;
    height: 60px;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 22px;
text-align: center;
background: #5454D4;
border-radius: 10px;
border: none;
}
.hero__imeg-human{
    margin-right: 30px;
}